body{
	width:100%;height:100%;

	position:absolute;

	left:0px;top:0px;
	margin:0px;padding:0px;

	border:none;
	box-sizing:border-box;

	background:#000000;

	font-size:0px;
}

header{
	width:100%;height:60px;

	position:relative;
	left:0px;top:0px;

	margin:0px 0px 0px 0px;padding:15px;

	box-sizing:border-box;

	background:none;

	border:none;
	border-radius:0px;
}

.heartPulse{
	width:30px;height:30px;

	position:absolute;
	left:15px;top:15px;
	margin:0px;

	vertical-align:middle;
	border-radius:0px;

	animation:pulse 1.5s ease infinite;

	z-index:1;
}
.heart{
	width:30px;height:30px;

	position:absolute;
	left:15px;top:15px;
	margin:0px;

	vertical-align:middle;
	border-radius:0px;

	filter:drop-shadow(0px 0px 5px #0055FF70);

	z-index:2;
}
@keyframes pulse {
  0%{
    transform:scale(1);
    opacity:1.0;
    filter:blur(0.5px);
  }
  100%{
  	transform:scale(1.5);
  	opacity:0.0;
  	filter:blur(1px);
  }
}

header > button{
	width:calc(100% - 60px);height:30px;

	position:relative;
	left:30px;top:0px;

	margin:0px;padding:0px;

	box-sizing:border-box;
	vertical-align:middle;

	background:none;
	color:#FFFFFF;
	font-family:Verdana;
	font-weight:normal;
	font-size:12px;
	line-height:30px;

	border:none;
	border-radius:0px;

	text-shadow:0 0 10px #FFFFFF70;
}

.spacer{
	width:100%;height:40px;

	position:relative;
	left:0px;top:0px;

	margin:0px;padding:0px;

	box-sizing:border-box;

	background:linear-gradient(180deg,#0A0A0A,#000000);

	border:none;
	border-radius:0px;
}
.spacerbottom{
	background:linear-gradient(180deg,#000000,#0A0A0A);
}

canvas{
	width:100%;height:200px;

	position:relative;
	left:0px;top:0px;

	margin:0px;padding:0px;

	box-sizing:border-box;

	background:none;

	border:none;
	border-radius:0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.titleCanvas{
	width:100%;height:200px;

	position:absolute;
	left:0px;top:60px;

	margin:0px;padding:60px 20px 0px 20px;

	box-sizing:border-box;

	background:none;
	color:#FFFFFF;

	font-family: monospace, sans-serif;
  font-weight: bold;
  font-style: normal;
	font-size:25px;
	line-height:30px;

	border:none;
	border-radius:0px;
	text-shadow:0 0 10px #FFFFFF40;
}
.buttonsContainer{
	width:100%;height:80px;

	position:relative;

	left:0px;top:0px;
	margin:20px 0px 0px 0px;padding:0px;
}
.negativeButton{
   position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px 0px 0px 10px;
  color: #202020;
  font-size: 25px;
  line-height:35px;
  font-family: monospace;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  width:calc(30% - 30px);
  height:40px;
  box-sizing: border-box;
overflow: hidden;
background:#101010;
   
}
.liquidButton{
   position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px 0px 0px 20px;
  color: #fff;
  font-size: 25px;
  line-height:35px;
  font-family: monospace;
  font-weight:1000;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  width:calc(70% - 20px);
  height:40px;
  box-sizing: border-box;
overflow: hidden;
    box-shadow:-10px 7px 10px -5px #0055FF20,10px 7px 10px -5px #0055FF20;
    text-shadow:0 0 10px #FFFFFFA0;
   
}
.liquidButtonShadow {
  position: absolute;
  top: 40px;
  left: 20px;
  width: calc(70% - 10px);
  height: 40px;
	transform: perspective(50px) rotateX(45deg) scale(0.7, 0.3);
  filter: blur(40px);
  opacity: 0.7;
  pointer-events: none;
  background:#0055FF;
}
    .liquidButton > span {
    	height:35px;
      position: relative;
      z-index: 1;
    }
.liquidButton > div {
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 200px;
      background: #0055FF;
      box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
      transition: 0.5s;
}
      .liquidButton > div::before,
      .liquidButton > div::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 200%;
        height: 200%;
        transform: translate(-50%, -75%);
      }
      .liquidButton > div::before {
        border-radius: 45%;
        background: #000000FF;
        animation: liquidAnimation 10s linear infinite;
      }
      .liquidButton > div::after {
        border-radius: 40%;
        background: #0000007F;
        animation: liquidAnimation 10s linear infinite;
      }
      @keyframes liquidAnimation {
        0% {
          transform: translate(-50%, -75%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -75%) rotate(360deg);
        }
      }

.changeText{
	width:100%;height:30px;

	position:relative;
	left:0px;top:0px;

	margin:40px 0px 0px 0px;padding:0px 20px 0px 20px;

	box-sizing:border-box;

	background:none;
	color:#FFFFFF;

	font-family: monospace, sans-serif;
  font-weight: bold;
  font-style: normal;
	font-size:25px;
	line-height:30px;
	text-align:center;

	border:none;
	border-radius:0px;
	text-shadow:0 0 10px #FFFFFF40;
}

.bibleText{
	width:100%;height:18px;

	position:relative;
	left:0px;top:0px;

	margin:0px;padding:0px;

	box-sizing:border-box;

	background:none;
	color:#FFFFFF;

	font-family: monospace, sans-serif;
  font-weight: normal;
  font-style: normal;
	font-size:14px;
	line-height:18px;
	text-align:center;

	border:none;
	border-radius:0px;
	text-shadow:0 0 10px #FFFFFF40;
}

.changeText span.typed-text{
  font-weight: normal;
  color: #0055FF;
  text-shadow:0 0 10px #0055FF40;
}
.changeText span.cursor {
  display: inline-block;
  background-color: #0055FF;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.changeText span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #0055FF; }
  49% { background-color: #0055FF; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #0055FF; }
}